---

---

<footer class="site-footer" data-cursor-dark="true">
  <div class="container">
    <div class="site-footer__main">
      <img
        class="site-footer__logo"
        src="/src/public/logo/logo-white.svg"
        alt="logo"
        data-scroll-anim="slide-up"
          data-settings='{ "repeat": true}'
      />
      <div class="site-footer__cta">
        <span class="site-footer__tagline"data-split-text-anim="word" 
          data-settings='{ "repeat": true}'>Say Hi / 挨拶
        </span>
        <a class="btn"  href="mailto:[hello@thuongnh.com]"data-hover data-scroll-anim="slide-up"
          data-settings='{ "repeat": true}'>
          Let's talk
        </a>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="site-footer__bottom">
      <div class="clock">
        <span>ICT</span>
        <span class="clock__display">00:00:00</span>
      </div>
      <span class="site-footer__copyright"
        >© 2026 — currently locked in from vietnam</span
      >
    </div>
  </div>
</footer>

<style>
  @keyframes flip-y {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(360deg);
    }
  }

  .site-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    text-align: center;
    gap: 12rem;
    height: 100vh;
    padding: 8rem 0 2rem 0;
    color: #f5f5f5;
    background: #191919;
  }

  .site-footer__main {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
  }

  .site-footer__logo {
    display: inline-block;
    width: 48px;
    height: 48px;
    animation: flip-y 6s linear infinite;
  }

  .site-footer__cta {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .site-footer__tagline {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5;
  }

  .site-footer__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .clock {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    span {
      font-size: 0.875rem;
      font-weight: 400;
      line-height: 1.5;
    }
  }

  .site-footer__copyright {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
  }

  @media only screen and (max-width: 767px) {
    .site-footer__bottom {
      flex-direction: column;
      gap: 0.5rem;
      text-align: center;
    }
  }
</style>

